{# base.html #}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="x-ua-compatible" content="IE=Edge"/>
        <title>MICROMARKET</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap-theme.min.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
        <!-- authomatic.js is dependent on jQuery -->
        <script type="text/javascript" src="{{ url_for('static' , filename='jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static' , filename='authomatic.js') }}"></script>

        <style type="text/css">
            h1 {
                margin: 30px 0;
                padding: 0 200px 15px 0;
                border-bottom: 1px solid #E5E5E5;
            }

            .bs-example {
                padding: 10px 20px 15px 0;

                margin: 0px 0px;
            }

            body {
                padding-top: 50px;
            }

        </style>
        <link href="{{ url_for('recent_feed') }}"
          rel="alternate"
          title="Recent Changes"
          type="application/atom+xml">
        </head>
    <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
        <script type="text/javascript" src="{{ url_for('static' , filename='bootstrap.min.js') }}"></script>
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">MICROMARKET</a>
            </div>
            <!-- Collection of nav links, forms, and other content for toggling -->
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/admin">Profile</a></li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Categories <b class="caret"></b></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="/category/Electronics/">Electronics</a></li>
                            <li><a href="/category/Clothing/">Clothing</a></li>
                            <li><a href="/category/Jewelery/">Jewelery</a></li>
                            <li><a href="/category/Furniture/">Furniture</a></li>
                            <li><a href="/category/Motors/">Motors</a></li>
                            <li><a href="/category/Households/">Households</a></li>
                            <li><a href="/category/Toys/">Toys</a></li>
                            <li><a href="/category/Others/">Others</a></li>
                            <li class="divider"></li>
                            <li><a href="/">All</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search" method="post" name="search"
                      action="{{ url_for('searchWord') }}">
                    <div class="form-group">
                        {{ g.search_form.hidden_tag() }}
                        {{ g.search_form.search(size=20, class="form-control", placeholder=("Search")) }}
                    </div>
                    <button type="submit" class="btn btn-default">{{ ('Go') }}</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    {% if not g.user.name=='Guest' %}
                    <li><a href="/admin">User: {{ g.user.name }}</a></li>
                    <li><a href="/logout">Logout</a></li>
                    {% else %}
                    <li><a class="authomatic" href="/login_test">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <body>
        {% block body %}



        {% endblock %}
    </body>
<div class="wrapper">

  <div class="push"></div>

 </div>
 <div class="footer">
     <p>MICROMARKET</p>
   <p>Copyright (c) 2015</p>
 </div>
</html>