{# doesnotexist.html #}
{% extends "base.html" %}

<html>

<head>
  <meta charset="UTF-8">
  <title>You've ripped a hole in the fabric of the internet</title>
</head>

{% block body %}
    <div class="container-fluid">
        <h1>Uh oh! (404 Error)</h1>
        <div class="col-xs-9 ">
								<p>Sorry the page you were looking for cannot be found.</p>

								<h3>What can I do now?</h3>
								<ol class="col-xs-9">
									<li>Use the search box to find the information for which you were looking</li>
									<li>Return to the <a href="/">Home Page</a></li>
								</ol>
            <div class="col-xs-9 pull-right">
                <a href="#" class="thumbnail">
                 <img src="/static/404.jpg" alt="Page Not Found (404).">
                </a>
             </div>
        </div>


    </div>



        </div>
{% endblock %}

</html>
