{# index.html #}
{% extends "base.html" %}
{% block body %}

{% with messages = get_flashed_messages() %}
      {% if messages %}
<div class="alert alert-success bs-example">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
</div>
        {% endif %}
    {% endwith %}
<div class="#">
</div>
<!-- Site banner -->
<div class="wide"></div>
<div class="banner titles hidden-xs">
    <div class="container">
        <p>
        <h4>Welcome to our micro selling market. Sell or just simply give away unwanted stuff. You
            can start right now, no need to register, just sign in with your: <a href="../login_test" class="authomatic"
                                                                                 target="_blank"> Google+, Twitter or
                GitHub</a></h4></p>
    </div>
    </div>
<!-- Items list -->
    {% for i in items %}
<div class="panel panel-default front-page">
    <div class="panel-heading">{{i.category_name}} &raquo;{{i.name}} &raquo;</div>
    <div class="panel-body">
    <form class="form-horizontal">
       <div class="form-group">
            <label class="control-label col-xs-3">Name:</label>
            <div class="col-xs-9">
                <p class="form-control-static">{{i.name}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" >Category:</label>
            <div class="col-xs-9">
                <p class="form-control-static">{{i.category_name}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" >Image:</label>

            <div class="col-xs-4">
                <a href="#" class="thumbnail">
                    <img src="{{url_for('static' , filename=i.image_name)}}" alt="125x125">
                </a>
            </div>
            <div class="controls">
                <label class="control-label">Information:</label>
                <span class="form-control-static" name='description' rows='5' cols='40'>{{i.description}}</span>
            </div>
            <div class="controls">
                <label class="control-label">Contact {{ i.user_name }}:</label>
                <span class="form-control-static" name='description' rows='5' cols='10'>{{i.contact}}</span>
            </div>
            </div>
        <div class="form-group">
            <label class="control-label col-xs-3" >Price:</label>
            <div class="col-xs-9">
                <p class="form-control-static">{{i.price}}</p>
            </div>
        </div>
        </form>
    </div>
</div>
</div>
</div>
    {% endfor %}
 <script type="text/javascript">

         // Set up the library
         authomatic.setup({
            popupWidth: 600,
            popupHeight: 500,
            onLoginComplete: function(result) {
               // Handle the login result when the popup closes.
               if (result.user) {
                  alert('Hello ' + result.user.name);
               } else if (result.error) {
                  alert('Error occurred: ' + result.error.message);
               }
            }
         });

         // Change behavior of links and form of class="authomatic"
         authomatic.popupInit();

      </script>
{% endblock %}